.bs-context-menu {
	/* Make sure its on top of the Popups popup */
	z-index: 111;
}

.bs-context-menu-item {
	width: 100%;
	display: block;
	margin: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.bs-context-menu-item a {
	width: 100%;
	padding-right: 10px;
}

.bs-context-menu-item a span.oo-ui-labelElement-label {
	white-space: break-spaces;
}

.bs-context-menu-no-items {
	padding: 10px;
}

.bs-context-menu[ aria-busy='true' ] .oo-ui-popupWidget-body {
	background-image: url( ./loader.svg );
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 30px;
}
